.btn-arrow>img{
  height:2em;
cursor: pointer;
margin-top:2em;
margin-left:2em;
}
.btn-arrow{
  background:white;
  border: none;
  outline: none;
  cursor: pointer;
}
.check-out{
  margin-top:0.5em;
  margin-left:1em;
  font-weight: bolder;
  font-size:2em;
}

hr{
  border:none;
  border-top: 1px solid #e3e0e0;

}
.card-flex{
  display: flex;
  justify-content: space-between;

}
.left-side{ 
  display: flex;
  flex-direction: column;
  margin-left: 2em;

}

.left-side>div:nth-child(1){
  font-size:1.3em;
  font-weight: bold;
}

.left-side>div:nth-child(2){
  color:#aba8a8;
}

.left-side>div:nth-child(3){
  display: flex;
  
}
.left-side>div:nth-child(3)>div{
  margin-right: 1em;
  font-weight:bold;

}

.left-side>div:nth-child(3)>div:nth-child(2){
  color:#9495C7;

}
.right-side{
  margin-top:0.3em;
  margin-right: 2em;
}
.right-side>img{
  height:4.5em;



}

.payment-head{
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
}
.payment-head>div:first-child{
  font-weight: bold;
  font-size: 1.2em;
}